<div class="position-relative w-100 vh-100">
    <div id="spinner" class="spinner-grow position-absolute top-50 start-50 translate-middle z-2" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <video src="${c.homeVideoUrl}" 
           id="video" 
           class="position-absolute top-0 start-0 w-100 h-100 object-fit-cover"
           autoplay loop muted></video>
     
        <div class="overlay position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center justify-content-center">
            <div class="container text-center">
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-8">
                        <div class="p-4">
                            <h1 class="display-4 mb-3">${c.serverName}</h1>
                            <div class="lead-h mb-4">${c.homeDescription}</div>
                            <div class="badge-grp">
                                <span class="home-badge"><span class="purple">${playerCount.total}</span> Registered</span>
                                <span class="home-badge"><span class="green">${playerCount.online}</span> Online</span>
                                <span class="home-badge"><span class="yellow">${customCount.clans}</span> Clans</span>
                                <span class="home-badge"><span class="red">${customCount.plays}</span> Plays</span>
                                <span class="home-badge"><span class="cyan">${customCount.beatmaps}</span> Beatmaps</span>
                            </div>
                            <div class="mt-4">
                                <#if !loggedIn>
                                <a class="btn btn-primary btn-lg" href="/register" role="button">Register</a>
                                </#if>
                                <a class="btn btn-discord btn-lg mx-2" href="${c.discordUrl}" role="button">Discord</a>
                                <a class="btn btn-secondary btn-lg" href="/docs/connect">How to connect?</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>