</div>
</div>
<footer class="section footer-dark bg-secondary text-body-secondary footer pt-4">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-auto">
                <div class="text-center">
                    <a class="brand" href="/">
                        <img class="img-fluid footer-logo" src="${c.logoUrl}" alt="osuNoLimits Logo">
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>

<#if globalModules??>
<#list globalModules as module>
    ${module}
</#list>
</#if>

<script>
        var avatarServer = '${avatarServer}';

</script>

<script src="/js/glass-theme-dropdown.js"></script>